/documents*
.idea/dataSources
/scanner_upload*
/loads*
/recovered_files*
/vendor*
vendor/
/drivers*
/temp*
/hold*
/scanned_invoices*
/scanned_invoices_vendor*
/payroll_export*
web.config
config.php
sql.php
workspace.xml
modules.xml
misc.xml
encodings.xml
sync.ffs_db
service_account.json